* {
  font-family: sans-serif;
  line-height: 1.3em;
  background-color: #fbfffa;
  color: #1e0039;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-size: 16px;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-weight: normal;
  opacity: 0.95;
}

nav, h1, h2, h3, p, a, ul, ol, li, form {
  color: white;
  background-color: rgba(0, 0, 0, 0); /* transparent */
}

a { color: hsl(180, 100%, 40%); }

/* Layout */

li {
  margin-bottom: 1em;
}

header {
  background-color: #ffe180;
  padding: 1em;
}

main {
  width: 100%;
  background-color: white;
}

main::after {
  content: '';
  display: block;
  clear: both;
}

section {
  padding: 1%;
}

.col-left {
  background-color: #eba059;
  float: left;
  width: calc(94%/3);
}

.col-middle {
  background-color: #8b3c76;
  float: left;
  width: calc(94%/3);
}

.col-right {
  background-color: #41245c;
  float: right;
  width: calc(94%/3);
}

.output {
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  border-top: 1px solid rgba(0,0,0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0,0,0, 0.1);
}

footer {
  background-color: #b9e382;
  color: rgba(65,79,47,1);
  padding: 1em;
}
