* {
  font-family: sans-serif;
  line-height: 1.3em;
  background-color: #fbfffa;
  color: #1e0039;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-size: 16px;
  padding: 1rem 2rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

nav, h1, h2, p, a, ul, li, form {
  color: white;
  background-color: rgba(0, 0, 0, 0); /* transparent */
}

a { color: hsl(180, 100%, 40%); }

/* Layout */

header {
  background-color: #ffe180;
}

section {
}

.col-left {
  background-color: #eba059;
}

.col-middle {
  background-color: #8b3c76;
}

.col-right {
  background-color: #41245c;
}

footer {
  background-color: #b9e382;
}




/* Forms */

input { background-color: #fff; }

input,
button,
.inline-code {
  padding: 0.5ch 1ch;
}

code {
  background-color: #fff;
  line-height: 1.4em;
  font-weight: strong;
  padding: 1em;
  font-family: monospace;
  font-size: 0.9em;
  display: inline-block;
}

.inline {
  margin-top: 0;
  padding-left: 0;
}

.inline li {
  font-size: 0.9em;
  list-style: none;
  display: inline;
  padding-right: 1ch;
}

li { 
  margin-bottom: 0.5em;
}

#error {
  color: crimson;
}